html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

* {
    font-family: 'Zilla Slab', serif;
}

header {
    width: 100%;
    height: 10em;
}

.supBoxHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
}

.socialIcons {
    width: 15%;
    align-self: center;
}

#newsLetterEmail {
    border: 2px solid black;
    border-radius: 3px;
    height: 1.5em;
    outline: none;
    text-indent: 0.2em;
}

#newsLetterEmail::placeholder {
    color: black;
}

#newsLetterSubmit {
    height: 1.8em;
    border: 2px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
}


/* Footer Style */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    color: white;
}
.hautFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.socialIconsFooter {
    width: 10%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.socialIconsFooter svg{
    width: 25%;
    margin-left: 8%;
}
#banderoleFooter{
    height: 100px;
}
.contactEtHoraires{
    margin-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactEtHoraires p{
    margin: 0;
    margin-top: 4px;
}
