* {
    -webkit-tap-highlight-color: transparent;
}

/* section carousel header */

#carousel-section {
    position: relative;
    height: 24em;
    width: 100%;
    margin: 3% 0 3% 0;
}

.carousel {
    height: 100%;
    width: 100%;
    position:relative;
}

.carousel-item {
    position: absolute;
    left: 0;
    width: 90%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #262C2B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    background-size: cover;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

.carousel-item:nth-child(1) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/boutiqueCategorie/carouselBoutique1.jpg');
    background-size: cover;
    background-position-y: 45%;
    opacity: 1;
}
.carousel-item:nth-child(2) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/boutiqueCategorie/carouselBoutique2.jpg');
    background-size: cover;
    background-position-y: 5%;
    opacity: 0;
}
.carousel-item:nth-child(3) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/boutiqueCategorie/carouselBoutique3.jpg');
    background-size: cover;
    background-position-y: 40%;
    opacity: 0;
}
.carousel-item:nth-child(4) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/boutiqueCategorie/carouselBoutique4.jpg');
    background-size: cover;
    background-position-y: 50%;
    opacity: 0;
}
#carousel-section h3 {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 3em;
    color: white;
}

/* fin section carousel header */

/* Body catégories */

.categorieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}
.categorieCarteDuo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.categorieCarteSolo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.categorieCarteDuo a{
    width: 30%;
    margin-top: 4em;
}
.categorieCarteSolo a{
    width: 30%;
    margin-top: 4em;
}
.categorieCarte {
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}
.categorieCarte {
    position: relative;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}
.categorieCarte:hover{
    transform: scale(1.07);
}
.categorieBg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(160, 160, 160);
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(116,116,116,1) 30%, rgba(0,0,0,1) 100%);
    transition: all 0.5s ease-in-out;
}
.categorieCarte:hover .categorieBg{
    opacity: 0.8;
}
.categorieDescription {
    position: relative;
    top: 10em;
    width: 80%;
    color: white;
    text-align: center;
    visibility:hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    height: 200px;
    font-size: 1.2em;
    font-weight: 500;
}
.categorieTitle {
    position: relative;
    top: 2.5em;
    font-size: 3em;
    color: white;
    text-align: center;
    transition: all 0.6s ease-in-out;
    border: 5px double #ffffff;
    background-color: rgba(0,0,0,0.6);
    padding: 2%;
}
.categorieImg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.categorieCarte:hover .categorieTitle{
    transform: translateY(-4em);
}
.categorieCarte:hover .categorieDescription{
   visibility: visible;
   opacity: 1;
   transform: translateY(-13em);
}

.categorieCarte:hover .categorieTitle {
    border: none;
    background-color: rgba(0,0,0,0);
}

#meuble{
    background-image: url(../Assets/boutiqueCategorie/meubles.jpg);
}
#deco{
    background-image: url(../Assets/boutiqueCategorie/deco.jpg);
}
#linge{
    background-image: url(../Assets/boutiqueCategorie/linge.png);
}
#mode{
    background-image: url(../Assets/boutiqueCategorie/mode.jpg);
}
#enfant{
    background-image: url(../Assets/boutiqueCategorie/enfant.jpg);
}
#papeterie{
    background-image: url(../Assets/boutiqueCategorie/papeterie.jpg);
    background-position: right;
}
#outdoor{
    background-image: url(../Assets/boutiqueCategorie/outdoor.jpg);
}
#presse{
    background-image: url(../Assets/boutiqueCategorie/presse.png);
    background-position: 4% center;
}
#tapis{
    background-image: url(../Assets/boutiqueCategorie/tapis.jpg);
    background-position: 55% bottom;
}
#partenaire{
    background-image: url(../Assets/partenaires/carouselPartenaire1.jpg);
}

/* Animation */
.categorieCarteDuo a{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.categorieCarteDuo a:nth-of-type(odd)  {
    margin-right: 5%;
    transform: translateX(-100px);
}
.categorieCarteDuo a:nth-of-type(even) {
    margin-left: 5%;
    transform: translateX(100px);
}
.categorieCarteDuo a.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.categorieCarteSolo a{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px)
}
.categorieCarteSolo a.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* Fin Body Catégories */

/* image background */
.img{
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.3s;
}
.img:hover{
    opacity: 80%;
    transform: scale(1.03);
}
.text-p{
    border: 1px solid black;
    padding: 5%;
}
.divImgDesc{
    margin: 0% 2% 0% 2%;
}
.divTextDesc{
    margin: 0% 2% 0% 2%;
}
/* image background */

h5{
    font-family: 'Timberline', sans-serif;
    font-size: 2.6em;
    margin: 7% 0% 10% 0%;
}
.lineContainer{
    position: relative;
    width: 77.5%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}
.lineEnd{
    position: relative;
    left: 15%;
    width: 70%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}

/* Animation */
.divImgDesc:nth-of-type(odd)  {
    transform: translateX(-100px);
}
.divImgDesc:nth-of-type(even)  {
    transform: translateX(100px);
}
.divTextDesc {
    transform: translateY(150px);
}
.container .row div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.container .row div.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}
@keyframes titleAnimation {
	from {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {

    .divImgDesc {
        align-items: center;
    }
    
    .img {
        height: 70%;
    }

    h5 {
        font-size: 1.8em;
    }

    .row {
        margin-bottom: 0.5%;
    }
    .categorieCarte{
        width: 100%;
        height: 20em;
       
    }
    .categorieCarteDuo a{
        width: 40%; 
        margin: 5% 0 0 0;
    }
    .categorieCarteDuo a:nth-of-type(odd){
        width: 40%; 
        margin: 5% 0 0 0;
    }
    .categorieTitle{
        top: 0;
        font-size: 1em;
        padding: 2%;
        border: 5px double solid #fff;
    }
    .categorieDescription {
        display: none;
    }
    #carousel-section{
        height: 15em;
    }
    #carousel-section h3{
        top: 25%;
        font-size: 2em;
    }
    .categorieCarte:hover{
        -webkit-transform: none;
        -moz-transform: none;
    }
    .categorieCarte:hover .categorieTitle {
        border: 3.5px solid #fff;
        background-color: rgba(0,0,0,0.6);
        transform: none;
    }
    .categorieBg{
        display: none;
    }
}