body {
    margin: 0;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

/* style display */

.img-cat {
    margin: 2% 0 2% 0;
}

.container-categorie{
    width: auto;
}
.img-cat{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 4% 0 4% 0;
}
.column1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 49%;
    margin: 0 0.3% 0 0;
}
.column2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 51%;
    margin: 0 0 0 0.3%;
}
.img-home h2{
    width: 100%;
    height: 100%;
    margin: 0;
}

.img-home h2 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
    z-index: 3;
    font-size: 2em;
}
.linkHome{
    width: 100%;
    height: 100%;
}
.img-col1{
    width: 100%;
    height: 400px;
}
.img-col2{
    width: 100%;
    height: 263.5px;
}
.img-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0% 0% 0% 0%;
    transition: all ease-in-out 0.4s;
}

/* style display */


/* background image */
.container{
    width: 100%;
    overflow-x: hidden;
}
#boutique{
    visibility: hidden;
    background-image: url(../Assets/boutique.jpg);
    margin-bottom: 0.7%;
    transform: translateX(-100%);
}
#boutique.in-view{
    visibility: visible;
    transform: translateX(0);
}
#boutique.in-view:hover{
    opacity: 0.9;
    transform: scale(1.01);
}
#atelier{
    visibility: hidden;
    background-image: url(../Assets/atelier.png);
    background-position: left 23%;
    margin-top: 0.7%;
    transform: translateX(-100%);
}
#atelier.in-view{
    visibility: visible;
    transform: translateX(0);
}
#atelier.in-view:hover{
    opacity: 0.9;
    transform: scale(1.01);
}
#agence{
    visibility: hidden;
    background-image: url(../Assets/agence.png);
    background-position: 70% 65%;
    margin-bottom: 0.7%;
    transform: translateX(100%);
}
#agence.in-view{
    visibility: visible;
    transform: translateX(0);
}
#agence.in-view:hover{
    opacity: 0.9;
    transform: scale(1.01);
}
#caravane{
    visibility: hidden;
    background-image: url(../Assets/caravane.png);
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    transform: translateX(100%);
}
#caravane.in-view{
    visibility: visible;
    transform: translateX(0);
}
#caravane.in-view:hover{
    opacity: 0.9;
    transform: scale(1.01);
}
#e-shop{
    visibility: hidden;
    background-image: url(../Assets/E-shop.jpg);
    background-position: center 48%;
    margin-top: 0.7%;
    transform: translateX(100%);
}
#e-shop.in-view{
    visibility: visible;
    transform: translateX(0);
}
#e-shop.in-view:hover{
    opacity: 0.9;
    transform: scale(1.01);
}
/* background image */

/* presentation site */
.titreParag{
    width: 80%;
    margin: 0% 4% 0% 4%;
}
#titre{
    text-align: center;
    margin: 0% 0% 8% 0%;
}

#titre h1 {
    font-size: 2em;
}
#paragraphe{
    position: relative;
    opacity: 0;
    text-align: center;
    font-size: 1.2em;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
}
#paragraphe.in-view{
    transform: none;
    visibility: visible;
    opacity: 1;
}
#presentation .img.in-view{
    transform: none;
    visibility: visible;
    opacity: 1;
}

#presentation{
    margin: 5% 0% 5% 0%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#presentation .img{
    width: 60%;
    height: 28em;
    background-image: url(../Assets/quiSommesNous.jpg);
    background-size: cover;
    margin: 0% 0% 0% 4%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100px);
}
/* presentation site */

/* CAROUSEL SECTION */
#carousel-section {
    position: relative;
    height: 30em;
    width: 100%;
    margin: 3% 0 3% 0;
}

.carousel {
    height: 100%;
    width: 100%;
    position:relative;
}

.carousel-item {
    position: absolute;
    left: 0;
    width: 90%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #262C2B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    background-size: cover;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

.carousel-item:nth-child(1) {
    background-image:  url('../Assets/carouselBg/carousel1.png');
    opacity: 1;
}
.carousel-item:nth-child(2) {
    background-image: url('../Assets/carouselBg/carousel2.png');
    opacity: 0;
}
.carousel-item:nth-child(3) {
    background-image: url('../Assets/carouselBg/carousel3.png');
    opacity: 0;
}
.carousel-item:nth-child(4) {
    background-image: url('../Assets/carouselBg/carousel4.jpg');
    opacity: 0;
}
.carousel-item h3 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    color: white;
}

.carousel-item p {
    font-size: 1.5em;
    color: #fff;
    width: 90%;
}
.nextContainer, .prevContainer{
    position: absolute;
    height: 100%;
    width: 7%;
    top: 0%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.nextContainer{
    right: 0%;
}
.prevContainer{
    left: 0%;
}
.next-slide, .prev-slide {
    position: absolute;
    top: 45%;
    width: auto;
    height: 10%;
    color: white;
    
}

.next-slide {
    right: 12%;
}
.prev-slide {
    left: 12%;
}
.dots-container {
    position: absolute;
    bottom: 2em;
    left: 46%;
    display: flex;
    width: 6.5%;
    align-items: center;
    justify-content: space-around;
}

.dots-container a {
    border-radius: 50%;
    cursor: pointer;
    width: 10%;
    height: auto;
    padding-top: 10%;
    background-color: white;
    border: 2px solid white;
}
.dots-container .active {
    background-color: black;
    border: 2px solid white;
    transition: 0.5s;
}
/* CAROUSEL SECTION */

/* Section Presse */
#titlePresse {
    text-align: center;
}

#articlePresse {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    align-items: center;
    perspective: 1000px;
}

.imgPresse {
    opacity: 0;
    width: 20%;
    height: 10%;
    border-radius: 3px;
    transition: all 0.7s;
    transform: rotateY(-180deg);
}

.imgPresse.flip:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 6px grey;
}
.imgPresse.flip{
    opacity: 1;
    transform: rotateY(0);
}

/* Section Presse */


/* style feed */
#feedPlugin{
    margin: 6.5% 8% 7% 8%;
    font-size: 2em;
}

/* style feed */

/*Display Map */
#lieu {
    text-align: center;
    margin-bottom: 3%;
}

.map {
    width: 100%;
    margin-bottom: 5%;
}

@media screen and (min-width: 1020px) and (max-width: 1410px) {
    #presentation .img{
        height: 20em;
    }
}

@media screen and (min-width: 680px) and (max-width: 1020px) {
    .img-cat{
        flex-direction: column;
    }
    .column1{
        width: 100%;
        margin: 0;
    }
    .column2{
        width: 100%;
        margin: 1.5% 0 0 0;
    }
    .img-col2{
        height: 400px;
    }
    #presentation {
        flex-direction: column;
    }
    #presentation .img{
       width: 70%;
       margin: 0;
    }
    #titre{
        margin: 8% 0 8% 0;
        font-size: 2.5em;
    }
    #paragraphe p{
        font-size: 2em;
    }
    #presse{
        margin: 10% 0 10% 0;
    }
    #titlePresse{
        font-size: 5em;
        margin: 8% 0 8% 0;
    }
    #feedInsta{
        margin: 10% 0 10% 0;
    }
    #googleMap{
        margin: 10% 0 10% 0;
    }
    .map{
        display: flex;
        justify-content: center;
        margin: 5% 0 5% 0;
    }
    #sizeMap{
        width: 100%; 
        height: 400px;
    }
    #carousel-section {
        height: 80em;
    }
    .nextContainer svg{
        width: 5em;
    }
    .prevContainer svg{
        width: 5em;
    }
    .carousel-item h3 {
        font-size: 5em;
    }
    .carousel-item p {
        font-size: 3em;
    }
    .img-home h2 a{
        font-size: 3em;
    }
    #lieu{
        font-size: 5em;
    }
}
@media screen and (max-width: 680px) {
    .img-cat{
        flex-direction: column;
    }
    .column1{
        width: 100%;
        margin: 0;
    }
    .column2{
        width: 100%;
        margin: 1.5% 0 0 0;
    }
    .img-col2{
        height: 400px;
    }
    
    #presentation {
        flex-direction: column;

    }
    #presentation .img{
       width: 80%;
       height: 17em;
       margin: 0;
    }
    #titre{
        margin: 8% 0 8% 0;
    }
    #googleMap{
        margin: 10% 0 10% 0;
    }
    .map{
        display: flex;
        justify-content: center;
    }
    #sizeMap{
        width: 80%; 
        height: 400px;
    }
    .carousel-item h3 {
        font-size: 8em;
    }
    
    .carousel-item p {
        font-size: 5em;
    }
    .img-home h2 a{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    #cacheBlank{
        width: 50%;
        left: 43%;
    }
}
section{
    position: relative;
}
#cacheBlank{
    width: 20%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    z-index: 199999!important;
    position: absolute;
    left: 40%;
    bottom: 0;
}