* {
    -webkit-tap-highlight-color: transparent;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
/* image background */
.img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.3s;
}
.img:hover{
    opacity: 80%;
    transform: scale(1.03);
}
.text-p{
    border: 1px solid black;
    padding: 5%;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 5% 0% 5% 0%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.row div{
    position: relative;
    width: 38%;
    height: auto;
    overflow: hidden;
}
.divImgDesc{
    margin: 0% 2% 0% 2%;
}
.divTextDesc{
    margin: 0% 2% 0% 2%;
}
/* image background */


/* style feed */
.feed{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 8% 2% 8%;
    padding: 2%;
    height: auto;
    background-color: rgb(241, 240, 240);
}
.feedBox{
    width: 18%;
    height: 10em;
    background-image: url();
    transition: all ease-in-out 0.3s;
    background-repeat: no-repeat;
}
.feedBox:hover{
    opacity: 90%;
    transform: scale(1.01);
}
#feed1{
    background-image: url(../Assets/feed/feed1.png);
    background-size: 100%;
    
}
#feed2{
    background-image: url(../Assets/feed/feed2.png);
    background-size: 100%;
}
#feed3{
    background-image: url(../Assets/feed/feed3.png);
    background-size: 100%;
}
#feed4{
    background-image: url(../Assets/feed/feed4.png);
    background-size: 100%;
}
#feed5{
    background-image: url(../Assets/feed/feed5.png);
    background-size: 100%;
}
/* style feed */

h5{
    font-family: 'Timberline', sans-serif;
    font-size: 2.6em;
    margin: 7% 0% 10% 0%;
}
.lineContainer{
    position: relative;
    width: 77.5%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}
.lineEnd{
    position: relative;
    left: 15%;
    width: 70%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}

/* Animation */
.container .row div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.divImgDesc:nth-of-type(odd)  {
    transform: translateX(-100px);
}
.divImgDesc:nth-of-type(even)  {
    transform: translateX(100px);
}
.divTextDesc {
    transform: translateY(150px);
}
.container .row div.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}
@keyframes titleAnimation {
	from {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@media screen and (min-width: 500px) and (max-width: 1100px) {

    .divImgDesc {
        align-items: center;
    }
    
    .img {
        height: 70%;
    }

    h5 {
        font-size: 1.8em;
    }

    .row {
        margin-bottom: 0.5%;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    
    .divTextDesc h5{
        height: 1em;
        font-size: 1em;
    }

    .divTextDesc p {
        font-size: 0.9em;
        
    }

    .divImgDesc img {
        width: 100%;
        height: 20em;
    }
}