* {
    -webkit-tap-highlight-color: transparent;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
/* image background */
.img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.3s;
}
.img:hover{
    opacity: 80%;
    transform: scale(1.03);
}
.text-p{
    border: 1px solid black;
    padding: 5%;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 5% 0% 5% 0%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.row div{
    position: relative;
    width: 38%;
    height: auto;
    overflow: hidden;
}
.divImgDesc{
    margin: 0% 2% 0% 2%;
}
.divTextDesc{
    margin: 0% 2% 0% 2%;
}
/* image background */


h5{
    font-family: 'Timberline', sans-serif;
    font-size: 2.6em;
    margin: 7% 0% 10% 0%;
}
.lineContainer{
    position: relative;
    width: 77.5%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}
.lineEnd{
    position: relative;
    left: 15%;
    width: 70%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}

/* Animation */
.container .row div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.divImgDesc:nth-of-type(odd)  {
    transform: translateX(-100px);
}
.divImgDesc:nth-of-type(even)  {
    transform: translateX(100px);
}
.divTextDesc {
    transform: translateY(150px);
}
.container .row div.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}
@keyframes titleAnimation {
	from {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
    .divImgDesc {
        align-items: center;
    }
    .img {
        height: 70%;
    }
    h5 {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    
    .divTextDesc h5{
        font-size: 0.8em;
    }

    .divTextDesc p {
        font-size: 0.5em;
        
    }
    .divImgDesc img {
        width: 100%;
        height: auto;
    }
}