* {
    -webkit-tap-highlight-color: transparent;
}

/* section carousel header */

#carousel-section {
    position: relative;
    height: 24em;
    width: 100%;
    margin: 2% 0 2% 0;
}

.carousel {
    height: 100%;
    width: 100%;
    position:relative;
}

.carousel-item {
    position: absolute;
    left: 0;
    width: 90%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #262C2B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    background-size: cover;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

.carousel-item:nth-child(1) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../Assets/partenaires/carouselPartenaire1.jpg');
    background-size: cover;
    background-position-y: 40%;
    opacity: 1;
}
.carousel-item:nth-child(2) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/partenaires/carouselPartenaire2.jpg');
    background-size: cover;
    opacity: 0;
}
.carousel-item:nth-child(3) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/partenaires/carouselPartenaire3.jpg');
    background-size: cover;
    background-position-y: 40%;
    opacity: 0;
}
.carousel-item:nth-child(4) {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/partenaires/carouselPartenaire4.PNG');
    background-size: cover;
    background-position-y: 55%;
    opacity: 0;
}

#carousel-section h3 {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 3em;
    color: white;
}

/* fin section carousel header */
.row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3% 10% 3% 10%;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 3% 10% 3% 10%;
}

h5{
    font-family:  'Timberline', sans-serif;
    font-size: 2.47em;
    margin: 0% 0% 0% 0%;
}
.partenaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.logoPartenaire{
    width: 100%;
    height: auto;
    transition: all ease-in-out 0.3s;
}
.logoPartenaire:hover{
    transform: scale(1.10);
}
.divLogo{
    display: flex;
    width: 35%;
    height: 15em;
    align-items: center;
    margin: 0% 25% 4% 25%;
}
.divText{
    width: 80%;
    text-align: center;
    font-size: 1.1em;
}

@media screen and (max-width: 800px) {

    .row1 {
        display: grid;
        place-items: center;
    }
    
    .partenaire {
        width: 100%;
    }
    
    h5 {
    font-size: 1.7em;
    }

    .divText {
        width: 100%;
    }
    
    .divText p {
        text-align: justify;
        font-size: 1.2em;
    }
}

