@media screen and (min-width: 100px) and (max-width: 1060px) {
    
    #banderole {
        margin-right: 20%;
    }

    #newsLetterClassic{
      display: none;
    }
    .socialIcons{
      display: none;
    }
    .infBoxHeader{
        display: none;
    }
    #linkBanderole{
        display: flex;
        justify-content: center; 
        width: 50%;
    }
    .supBoxHeader{
        margin-bottom: 0.5em;
        height: auto;
    }
}
.menu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: auto;
}
#btn-resp{
    border: none;
    background-color: white;
    margin: 0;
    outline: none;
}
#btn-burger{
    width: 8em;
    height: 10em;
    color: rgb(94, 94, 94);
}
.full-screen{
    display: none;
    position: fixed;
    width: 0%;
    height: 0%;
    background-color: rgb(63, 63, 63);
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .2s;
    z-index: 999999!important;
    top: 0;
    flex-direction: column;
    align-items: center;
    animation: bgBurgerOpen 0.7s ease-in-out forwards;
}
.full-screen ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    border: none;
    font-size: 2.3em;
    margin-left: 15%;
}
.full-screen ul a{
    width: 50%;
    margin-left: 2%;
}
.full-screen ul{
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 18%;  
    top: 12%;  
    transition: all 0.6s ease-in-out;
}
.full-screen ul div{
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: start;
}
.full-screen ul div:nth-child(1){
    animation: slideFromLeft 0.3s ease-in-out 0.6s forwards;
}
.full-screen ul div:nth-child(2){
    animation: slideFromLeft 0.3s ease-in-out 0.8s forwards;
}
.full-screen ul div:nth-child(3){
    animation: slideFromLeft 0.3s ease-in-out 1s forwards;
}
.full-screen ul div:nth-child(4){
    animation: slideFromLeft 0.3s ease-in-out 1.2s forwards;
}
.full-screen ul div:nth-child(5){
    animation: slideFromLeft 0.3s ease-in-out 1.4s forwards;
}
.full-screen .close{
    position: absolute;
    left: 40%;
    top: 4%;
    width: 5%;
    transition: all 0.6s ease-in-out;
}
.full-screen .close:hover, .full-screen .close:focus{
    opacity: 0;
}
.full-screen ul div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.full-screen ul svg{
    color: white;
    width: 15%;
    height: 35%;
}

@keyframes bgBurgerOpen{
    0%{
        width: 0%;
        height: 0%;
    }
    100%{
        width: 120%;
        height: 120%;
        border-bottom-right-radius: 50%;
    }
}
@keyframes bgBurgerOpenReverse{
    0%{
        width: 120%;
        height: 120%;
    }
    100%{
        width: 0%;
        height: 0%;
        border-bottom-right-radius: 100%;
    }
}
@keyframes slideFromLeft{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes slideFromLeftReverse{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
        visibility: hidden;
    }
}

@media screen and (max-width: 1100px) {
    .full-screen ul li {
        font-size: 1.2em;
    }
    .close{
      font-size: 3em;
    }
  }
  
@media screen and (min-width: 1060px){
    #btnModal{
      display: none;
    }
    .menu1{
        display: none;
    }
}

@media screen and (max-width: 650px){
    #respTitleNewsLetter {
        font-size: 1.5em;
    }
    .respMail {
        font-size: 1.2em;
        margin: 8%;
    }
    .respSubmit{
        font-size: 1.5em;
        width: 50%;
    }
    .close{
        font-size: 3em;
    }
    .respIconSN{
        width: 2em;
        height: 2em;
    }
    .modal-content .erreurMsg{
        top: 40%;
    }
    #btnModal{
        font-size: 0.6em;
    }
    #btnNewsLetterResp{
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #btn-burger{
        width: 5em;
        height: 5em;
    }
    .btn-resp{
        margin: 0;
    }
    .supBoxHeader{
        width: 100%;
    }
    .line1{
        display: none;
        left: 0;
        width: 100%;
        margin: 5% 0 1% 0;
    }
}
@media screen and (min-width: 650px) and (max-width:950px){
    #respTitleNewsLetter {
        font-size: 2.3em;
    }
    .respMail {
        font-size: 1.8em;
        margin: 8%;
    }
    .respSubmit{
        font-size: 1.5em;
        width: 50%;
    }
    .close{
        font-size: 3.5em;
    }
    .respIconSN{
        width: 2.5em;
        height: 2.5em;
    }
    .modal-content .erreurMsg{
        top: 40%;
    }
    #btnModal{
        font-size:1.3em;
        margin-right: 5%;        
        height: 3em;
    }
    #btn-burger{
        width: 5em;
        height: 5em;
    }
    .btn-resp{
        margin: 0;
    }
    .supBoxHeader{
        width: 100%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {

    #btnModal{
        font-size:1.3em;
        margin-right: 5%;        
        height: 3em;
    }
    #btnNewsLetterResp {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 1070px) and (max-width: 1330px) {

    .socialIcons {
        width: 20%;
    }

    .socialIcons a svg {
        width: 15%;
    }

    .socialIconsFooter a svg {
        width: 20%;
        height: 20%;
    }

   #banderoleFooter {
       width: 35%;
   }

   #boutonHautDePage a svg {
       width: 4%;
       height: 4%;
   }
}