.banderoleAtelier {
    color: white;
    width: 100%;
    height: 14em;
    background-image: url(../Assets/atelier2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 43%;
    display: flex;
    align-items: center;
    margin: 1% 0% 2.1% 0%;
}

.banderoleAtelier h1{
    font-size: 4em;
    margin: 8%;
}

.categorieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.categorieCarteDuo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.categorieCarteSolo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.categorieCarteDuo a {
    width: 30%;
    margin-top: 4em;
    margin-right: 3%;
    margin-left: 3%;
}

.categorieCarteSolo a {
    width: 30%;
    margin-top: 4em;
}

.categorieCarte {
    position: relative;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}
.categorieCarte:hover{
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
}
.categorieBg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(160, 160, 160);
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(116,116,116,1) 30%, rgba(0,0,0,1) 100%);
    transition: all 0.5s ease-in-out;
}
.categorieCarte:hover .categorieBg{
    opacity: 0.8;
}
.categorieDescription {
    position: relative;
    top: 10em;
    width: 80%;
    color: white;
    text-align: center;
    visibility:hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    height: 200px;
    font-size: 1.2em;
    font-weight: 500;
}
.categorieTitle {
    position: relative;
    top: 2.5em;
    font-size: 3em;
    color: white;
    text-align: center;
    transition: all 0.6s ease-in-out;
}
.categorieImg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.categorieCarte:hover .categorieTitle{
    transform: translateY(-4em);
}
.categorieCarte:hover .categorieDescription{
   visibility: visible;
   opacity: 1;
   transform: translateY(-13em);
}

#fenetre {
    background-image: url(../Assets/AtelierCategorie/fenetre.jpg);
}

#siege {
    background-image: url(../Assets/AtelierCategorie/siege2.jpg);
}

#murs {
    background-image: url(../Assets/AtelierCategorie/teinture_murs.jpg);
}

#matelas {
    background-image: url(../Assets/AtelierCategorie/matelas.jpg);
}
/* Animation */
.categorieCarteDuo a{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.categorieCarteDuo a:nth-of-type(odd)  {
    transform: translateX(-100px);
}
.categorieCarteDuo a:nth-of-type(even) {
    transform: translateX(100px);
}
.categorieCarteDuo a.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.categorieCarteSolo a{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px)
}
.categorieCarteSolo a.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0% 10% 0% 10%;
    width: 90%;
}
.left{
    width: 40%;
    height: 400px;
    overflow: hidden;
}
.right{
    width: 40%;
    height: 400px;
    overflow: hidden;
}

/* image background */
.img{
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.3s;
}
.img:hover{
    opacity: 80%;
    transform: scale(1.03);
}
.text-p{
    border: 1px solid black;
    padding: 5%;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 5% 0% 5% 0%;
}
.divImgDesc{
    margin: 0% 2% 0% 2%;
}
.divTextDesc{
    margin: 0% 2% 0% 2%;
}
/* image background */


/* style feed */
.feed{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 8% 2% 8%;
    padding: 2%;
    height: auto;
    background-color: rgb(241, 240, 240);
}
.feedBox{
    width: 18%;
    height: 10em;
    background-image: url();
    transition: all ease-in-out 0.3s;
    background-repeat: no-repeat;
}
.feedBox:hover{
    opacity: 90%;
    transform: scale(1.01);
}
/* style feed */

h5{
    font-family: 'Timberline', sans-serif;
    font-size: 40px;
    margin: 7% 0% 10% 0%;
}
.lineContainer{
    position: relative;
    left: 5%;
    width: 77.5%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}
.lineEnd{
    position: relative;
    left: 15%;
    width: 70%;
    border: 0.5px rgb(207, 207, 207) solid;
    margin: 1.5% 0% 2% 0%;
}

footer{
    width: 100%;
    background-color: #000000;
    color: white;
    padding-bottom: 1%;
    margin-bottom: -10%;
    margin-top: 5%;
}
.hautFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.socialIconsFooter {
    width: 15%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.socialIconsFooter a{
    width: 14%;
    margin-left: 12%;
}
.socialIconsFooter svg{
    width: 100%;
    height: 100%;
}
#banderoleFooter{
    height: 100px;
}
.contactEtHoraires{
    margin-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactEtHoraires p{
    margin: 0;
    margin-top: 4px;
}

#boutonHautDePage { 
    text-align: right;
    margin: -2% 2% 0 0;
}   

@media screen and (min-width: 500px) and (max-width:900px) {

    .banderoleBoutique h1 {
        font-size: 2em;
    }
    
    .categorieCarte h2 {
        font-size: 1.5em;
    }
}