section{
    margin: 1% 10% 5% 10%;
}

input {
    outline: none;
    text-indent: 0.8%;
}

.presContact {
    text-align: center;
}

#renseignement{
    display: flex;
    flex-direction: row;
    margin: 0% 0% 0% 0%;
    height: auto;
}

#ObjMsg{
    display: flex;
    flex-direction: column;
}

.rsgInput{
    margin: 1% 0% 2% 0%;
    width: 100%;
    height: 2.5em;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 0.8em;
    font-weight: 600;
}

.labelInput{
    margin: 0% 0% 0% 1%;
    font-size: 1.1em;
}

.col{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.col1{
    margin-right: 0.75%;
}

.col2{
    margin-left: 0.75%;
}

.labelObjMsg{
    margin-left: 0.75%;
    font-size: 1.1em;
    outline: none;
}

select option {
    font-size: 1.3em;
}

#motif-select{
    margin: 0.5% 0% 1.5% 0%;
    border: none;
    background-color: rgb(241, 241, 241);
    height: 2.5em;
}

#msg{
    margin: 1% 0% 0% 0%;
    border: none;
    background-color: rgb(241, 241, 241);
    min-width: 50%;
    max-width: 100%;
    min-height: 20em;
    max-height: 30em;
    padding-top: 0.5%;
    padding-left: 0.5em;
    font-size: 1.1em; 
    outline: none;
}

#compteurMots {
    display: flex;
    font-size: 1.2em;
    margin-top: 0.3%;
}

#compteur, #maxWord {
    text-align: right;
}

#submit{
    width: 10%;
    margin-top: 2%;
    padding: 1%;
    border: none;
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
    font-size: 1em;
    font-weight: 600;
    transition: all ease-in-out 0.5s;
}

#submit:hover{
    background-color: black;
    color: white;
    transform: scale(1.04);
}

@media screen and (min-width: 500px) and (max-width: 1100px) {

    #msg {
        min-height: 5em;
        max-height: 15em;
    }

    #submit {
        width: 15%;
        height: 2.2em;
        font-size: 1.2em;
    }

    .labelInput {
        font-size: 1.3em;
    }

    .labelObjMsg {
        font-size: 1.3em;
    }
}