.banderoleBoutique {
    width: 100%;
    background-image: url();
}
.categorieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categorieCarteDuo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.categorieCarte {
    width: 30%;
    height: 37em;
    margin-right: 4%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.categorieCarte h2{
    font-size: 6vh;
    color: black;
    position: absolute;
    top: 50%;
}
.categorieCarte img{
    height: 100%;
    width: 100%;
}
